
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("Shopping Cart", "ShoppingCart")
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("Shopping Cart with pub/sub", "ShoppingCartPubSub")
    </div>
</div>