
@{
    ViewBag.Title = "ShoppingCart";
}

<h2>ShoppingCart</h2>

<div class="panel panel-info">
    <div class="panel-heading">Shopping Cart</div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Products List</div>
</div>

@section scripts{
    <script src="~/Scripts/Home/ShoppingCart.js"></script>
}