
@{
    ViewBag.Title = "ShoppingCart";
}

<h2>ShoppingCart</h2>

<div class="panel panel-info">
    <div class="panel-heading">Shopping Cart</div>
    <div class="panel-body">
        <ul class="list-group" id="products-added"></ul>
        <h3>Total Items : <span class="total-items">0</span></h3>
        <h3>Total Price : <span class="total-price">0</span></h3>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Products List</div>
    <div class="panel-body">
        <ul class="list-group" id="products-list">
        </ul>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Home/ShoppingCart.js"></script>
}